<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
    <head>
        <title>Hola Mundo JSF</title>
    </head>
    <body>
        <h:outputLabel value="Hola Mundo desde JSF" />
        <h:form>
            <table>
                <thead>
                    <tr></tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </h:form>
    </body>
</html>
